body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

pre {
    height: 200px;
    background: #E8E8E8;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}
